* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: rgb(255, 255, 255);
  text-decoration: none;
  color: white;
  list-style: none;
}
header{
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
}
nav {
  display: flex;
  margin: 0 auto;
max-width: 1400px;
  justify-content: space-between;
  align-items: center;
  background-color: #db5088ff;
  padding: 10px;
}
.left-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.left-header ul {
  display: flex;
  list-style-type: none;
  color: white;
  text-decoration: none;
  gap: 20px;
}
.left-header ul a{
    text-decoration: none;
    color: white;
}

.logo-img {
  width: 80px;
  margin-left: 30px;
}
.profile-pic{
  width: 50px;
  object-fit: contain;
  margin-right: 50px;
}
.profile-pic-img{
    max-width: 100%;
    max-height: 100%;
    
    
}
